#left-panel {
  border-style: solid;
  border-color: red;
}

#right-panel {
  border-style: solid;
  border-color: black;

}

// .centered {
// 	display: table-cell;
// 	text-align: center;
// }

img.micro-image {
	width: 500px;
	height: auto;
}