// #left-panel {
//   border-style: solid;
//   border-color: red;
// }

#right-panel {
  text-align: right;
}

.micro-info {
	display: flex;
	align-items: center;
}

.micro {
	text-align: left;
	font-family: 'Indie Flower', cursive;
	color: #606060;
	h1 {
		text-align: center;
	}
}
.micros-button {
	margin: 0 10px;
	color: white;
	font-family: 'Indie Flower', cursive;
}
img.micro-image {
	width: 100%;
	height: auto;
}