<section id="blends">
    
    
    <rating ng-model="rating" max="5" ></rating>
    <!-- <micro micro='micro' ng-repeat="micro in micros"></micro> -->
    <button ng-click='showAllMicros()'>get micros!!!</button>
    <button ng-click='showMicroById("5578c656407830ac09d46afb")'>Get micro by id</button>
    <input ng-model="whichName"></input>
    <button ng-click='showMicroByName(whichName)'>Show Micro By Name</button>
    <button ng-click='deleteMicro("5579b680c457838c1be74531")'>delete kitten :/</button>
    <pre>{{ micros | json}}</pre>

    <form name="newMicroForm" ng-submit='newMicroForm.$valid && addMicro(newMicro)' novalidate>
        <div class='form-group'>
            <label for="name">Name</label>
            <input name='name' class="form-control" ng-model='newMicro.name' required></input>
        </div>
        <div class="form-group">
            <label for="spice">Spice</label>
            <select class="form-control" name='spice' ng-model='newMicro.spice'>
                <option>mild</option>
                <option>medium</option>
                <option>medium-spicy</option>
                <option>spicy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" name='price' ng-model='newMicro.price'></input>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" name="description" ng-model='newMicro.description'></input>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input class="form-control" name="image" ng-model='newMicro.image'></input>
        </div>
        <div class="form-group">
            <label for="inventory">Inventory</label>
            <input class="form-control" name="inventory" ng-model='newMicro.inventory'></input>
        </div>
        <button class='btn btn-success' type='submit'>add micro!</button>
    </form>
</section>