navbar {

  display: block;
  background: #bfbfbf;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  font-weight: bold;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: #77a53e;
    &:hover {
      color: #77a53e;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: white;
    }
    &:hover {
      transition: color 0.2s;
      background: #898989;
    }
    &:focus {
      color: white;
      background: transparent;
    }
  }

  .signup-button {
    float: right;
    margin-top: 8px;
  }

  .login-button {
    float: right;
    margin-top: 8px;
    color: #77a53e;
    &:hover {
      color: white;
    }
  }


  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #77a53e;
      cursor: pointer;
    }
  }

}

