<div class="container">
  <div class="row blend-listing">
	  <div class="col-md-6">
	  		<div class="micro-thumbnails">
	  			<img class="leaf" ng-repeat="micro in blend.micros" src="{{micro.image}}">
	  		</div>
		    <img class="bowl" src="/rounded44.svg">
	  </div>
    <div class="col-md-6">
      	<div class="row">
      		<div class="blend-info col-sm-6">
		      	<h2>{{ blend.name }}</h2>
				<ul>
		       	 <li ng-repeat="micro in blend.micros">{{micro.name}}</li>
				</ul>
      		</div>
      		<div class="blend-price col-sm-6">
		        <h3> {{ blend.price | currency}}</h3>
		        <button class="btn btn-primary">Add to Cart!</button>
      		</div>
      	</div>
    </div>
  </div>
</div>