<h2>Your Cart</h2>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Blend</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="blend in items.blends">
        <td ng-model="blend.info">{{ description }}</td>
        <td ng-model="blend.quantity">{{ qty }}</td>
        <td ng-model="blend.price">{{ price }}</td>
        <td>${{ blend.quantity * blend.price }}</td>
        <td><a href ng:click="removeItem($index)">X</a></td>
        <td><a href ng:click="editItem($index)">Edit Quantity</a></td>
      </tr>
      <tr>
        <td>Total: </td>
        <td>${{total()}}</td>
      </tr>
    </tbody>
  </table>
</div>




